main#home {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  .logo-container {
    position: absolute;
    @include centerCenter;
    // transition: all 1s ease-in-out;
    // logo spinning animation
    .logo {
      max-height: 40vmin;
      // cursor: pointer;
      z-index: 1;
      @include media('<=600px') {
        max-height: 70vmin;
      }
    }
    .beer {
      margin: auto;
      left: 0;
      right: 0;
      position: absolute;
      max-width: 50px;
      cursor: pointer;
      opacity: 0;
      z-index: -1;
      @include media('<=600px') {
        // max-width: 30px;
      }
      &:hover {
        animation: wiggle .06s alternate ease infinite;
      }
    }
    .bmc-btn-container {
      margin-top: 20px;
      opacity: 0;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      .bmc-btn {
        // @include media('<=600px') {
          font-size: 20px;
          padding: 0 16px;
        // }
      }
    }
    .stop-spin {
      // animation: stop-spin 1s linear;
    }
  }
  .shrink-face {
    padding: 100px;
    top: 0;
    left: 0;
    transform: scale(0.2);
    transform-origin: top left;
  }
  // logo scaling animation
  .scaler {
    // animation: scale-face 1s ease-in-out; 
  }
    // .logo {
    //   animation:logo-spin infinite 20s linear;
    // }
    
  .link-container {
    position: absolute;
    bottom: 30px;
    @include horzCenter;
    .link {
      color: #61dafb;
      @include code;
      text-decoration: none;
      display: inline-block;
    }
    p {
      cursor: pointer;
    }
    span {
      color: #61dafb;
      @include code;
    }
  }
}
