// .center-face {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }
main#home {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  .logo-container {
    position: absolute;
    @include centerCenter;
    transition: all 1s ease-in-out;
    .logo {
      max-height: 40vmin;
      pointer-events: none;
      transition: all 1s ease-in-out;
    }
    .stop-spin {
      animation: stop-spin 1s linear;
    }
  }
  .shrink-face {
    padding: 100px;
    top: 0;
    left: 0;
    transform: scale(0.2);
    transform-origin: top left;
  }
  // logo spinning animation
  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation:logo-spin infinite 20s linear;
    }
    // logo spinning animation
    .scaler {
      animation: scale-face 1s ease-in-out; 
    }
  }
  @media only screen and (max-width: 600px) {
    .logo {
      max-height: 70vmin;
    }
  }
  .link-container {
    position: absolute;
    bottom: 30px;
    @include horzCenter;
    .link {
      color: #61dafb;
      @include code;
      text-decoration: none;
      display: inline-block;
    }
    p {
      cursor: pointer;
    }
    span {
      color: #61dafb;
      @include code;
    }
  }
}
