html {
  height: -webkit-fill-available;
}

body {
  position: absolute;
  // height: 100%;
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.App {
  background-color: #282c34;
  position: relative;
  height: 100%;
}

